/* task 1 */
.container {
  padding-top: 100px;
  width: calc(100vw - 6rem);
  max-width: 950px;
  margin: 0 auto;
}

hr {
  margin: 100px 0;
}

body {
  overflow-x: hidden;
}

.slide-content-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.slide-content-wrapper div {
  flex-basis: 40%;
}

.slide-content-wrapper div img {
  width: 100%;
  min-height: 300px;
  display: block;
}

.slide-content-wrapper div.slide-content-from-left {
  transform: translateX(-50%);
}

.slide-content-wrapper div.slide-content-from-right {
  transform: translateX(50%);
}

.slide-content-wrapper div.slide-content-from-left,
.slide-content-wrapper div.slide-content-from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.slide-content-wrapper div.slide-content-from-left.appear,
.slide-content-wrapper div.slide-content-from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .slide-content-wrapper {
    flex-direction: row;
    text-align: left;
  }
}

/* task 2 */
p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6rem;
  max-width: 600px;
  margin: 20px auto;
  opacity: 0.3;
  transform: scale(0.75);
  transition: 0.6s all;
}
.visible {
  opacity: 1;
  transform: none;
}
