* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.card {
  width: 100px;
  height: 100px;
  background-color: azure;
  border: 1px solid black;
  border-radius: 2.25rem;
  padding: 1rem;
  transform: translatex(100px);
  opacity: 1;
  transition: 150ms;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
} */

/* 2 */

/* body {
    margin: 0;
    padding: 0;
  }
  body * {
    box-sizing: border-box;
  }
  
  .container {
    width: calc(100% - 1rem);
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
  }
  .container img {
    display: block;
    margin: 0 auto 5px;
    max-width: 300px;
  } */


  body {
    overscroll-behavior-x: none;
    scroll-behavior: smooth;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  
  section {
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
    background-color: #f1bace;
    white-space: nowrap;
    position: relative;
    height: 100%;
    overflow: auto;
  }
  
  img {
    transition: 0.3s;
    width: 50%;
    margin-right: 10vw;
    height: 50vh;
    margin-top: 25vh;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    flex-shrink: 0;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  
  .animate {
    opacity: 1;
  }
  
  img:first-child {
    margin-left: 10vw;
  }
  