* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.card {
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 2.25rem;
    padding: 1rem;
    transform: translatex(100px);
    opacity: 1;
    transition: 150ms;
}

.card.show {
    transform: translateX(0);
    opacity: 1;
}