.each_container_animals_bird-icon {
  background-image: url(../img/bird-icon.png);
}

.each_container_animals_cat-icon {
  background-image: url(../img/cat-icon.png);
}

.each_container_animals_dog-icon {
  background-image: url(../img/dog-icon.png);
}

.each_container_animals_turtle-icon {
  background-image: url(../img/turtle-icon.png);
}