/* body {
  color: black;
}
.main-header {
  font-size: 24px;
  color:aqua
}

.bgc {
  background-color: yellow;
}

.navigation {
  color: red;
}

.lastElement {
  color: orange;
}

.styles {
  background-color: blue;

} */

.container {
  width: 400px;
  height: 100px;
  background-color: red;
  margin: 20px;
}

h1 {
  color: blue;
  border: 5px solid black;
}
