.modal {
  display: none;
  position: fixed;
  left: 30px;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 15% auto;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

#box {
  width: 200px;
  height: 200px;background-color: lightcoral;
}