.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 1rem solid black;
}
.cards {
  width: 150px;
  height: 150px;
  border: 3px solid purple;
}
.cards:nth-child(2) {
  font-size: 2rem;
}
.cards:nth-child(3) {
  width: 30%;
}
.cards:nth-child(10) {
  font-size: 3em;
}
