.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}
.cards {
    width: 150px;
    height: 150px;
    border: 3px solid purple;
    font-size: 20px;
}