<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/main.css">
    <title>Арифметичні операції </title>
</head>
<body class="arythmetic">
    <div >
        <h1>Арифметичні операції </h1>
        <a href="../../index.html">
            <img src="../Variables/img/home.gif" alt="home">
        </a>
    </div>

   
</body>
</html>