#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.title-wrapper {
  font-size: 25px;
  color: aqua;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
  width: 600px;
  height: 100%;
  margin: 8% auto;
  padding: 20px;
}
