.each {
    background-color: pink;
}
.each_header {
    @include centerFlex(flex, center, center);
    img {
        margin-left: 10px;
    }
}

.each_container {
    flex-direction: column;
    @include centerFlex(flex, center, center);
}