<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/main.css">
    <title>Директива @each</title>
</head>
<body class="each">
    <div class="each_header">
        <h1>Директива @each</h1>
        <a href="../../index.html">
            <img src="../structure/img/home.gif" alt="home">
        </a>
    </div>

    <div class="each_container">
        <p>
            Директива @each - це цикл, який виконає тіло директиви для кожного значення зі списку. 
            <br> Це дозволяє скоротити кількість коду, який необхідно написати вручну:
        </p>
        <img src="./img/rule.jpg" alt="rule">
        <p>
            Наприклад, необхідно створити серію селекторів для елементів з фоновими зображеннями. 
            <br> В CSS це виглядає наступним чином. Занадто багато повторюваного коду:
        </p>
        <img src="./img/example.jpg" alt="example">
        <p>
            Використовуючи директиву @each, можемо досягнути такого самого результату, записавши 
            <br> наступний Sass-код, який буде скомпільований в CSS з попереднього прикладу:
        </p>
        <img src="./img/example2.jpg" alt="example2">
        <ul>
            Директива @each встановлює $animal у кожне зі значень списку тварин і для кожного створює код, 
            <br> записаний в тілі директиви - CSS-правило з селектором класу і набором властивостей:
            <li>
                $animal - локальна змінна, в яку будуть послідовно присвоюватися значення зі списку тварин. 
                <br> Ім'я змінної може бути довільним. Ми перебираємо список тварин, тому назвали animal - тварина.
            </li>
            <li>
                dog, cat, bird, turtle - список тварин, кожен елемент якого розділений пробілом з комою
            </li>
        </ul>
        <p>
            для того щоб підставити значення змінної $animal, необхідно використовувати інтерполяцію #{$ім'я_змінної}, оскільки ми створюємо рядки. 
            <br>Без інтерполяції ім'я змінної не буде замінено на її значення під час компіляції.
        </p>
    </div>
  
</body>
</html>