body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://c02.purpledshub.com/uploads/sites/41/2021/01/cat-kneading-87411eb.jpg?w=940&webp=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  background-color: #008CBA;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #007BA7;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.cards {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: calc(100% / 2 - 40px);
  box-sizing: border-box;
}

.cards img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px 0;
}

.buttons button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttons button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.buttons button:hover:not(:disabled) {
  background-color: #007bb5;
}

.error {
  color: red;
  font-size: 18px;
}
