@media screen and (max-width: 768px) {
  nav {
    order: 1;
  }
  .nav_menu {
    display: none;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
    span {
      top: 15px;
    }
    span,
    span::before,
    span::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: black;
    }
    span::before {
      top: 8px;
    }
    span::after {
      top: -8px;
    }
  }
  input[type="checkbox"]:checked ~ .nav_menu {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    transform: rotate(0);
    top: 0;
  }
  input[type="checkbox"]:checked ~ label span::after {
    transform: rotate(90deg);
    top: 0;
  }

  .nav_menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100px;
    padding: 20px;
    box-shadow: 0 12px 8px rgb(180, 175, 175);
    li {
      margin: 15px 0;
    }
  }

}

@media screen and (max-width: 576px) {
  .join_block {
    display: none;
    // display: flex;
    // flex-direction: column;
    // position: absolute;
    // top: 371px;
    // left: 0;
    // width: 100%;
  }
  input[type="checkbox"]:checked ~ .join_block {
    display: flex;
    flex-direction: column;
    
    


























































































































































































    
  }

}