.portfolio-body {
    background-color: none;
}
.portfolio-container {
    display: none;
}
.active {
    display: block;
    width: 1200px;
}
header,
.contacts,
.phone,
.email {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header {
    padding: 32px 0 126px;
}
.links a {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
    margin-right: 51px;
}
.links a:last-child {
    margin: 0;
}
.links a:nth-child(2) {
    color: #2196F3;
}
.links a:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    top: 9%;
    right: 53.5%;
}
.email img,
.phone img {
    margin-right: 10px;
}
.email {
    margin-right: 30px;
}
.category-buttons {
    text-align: center;
    margin-bottom: 48px;
}
.category-buttons button {
    width: 112px;
    height: 38px;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border: none;
    margin-right: 8px;
}
.category-buttons button:first-child {
    background: #2196F3;
    width: 73px;
    height: 38px;
    position: relative;
    color: #FFF;
}
.category-buttons button:first-child::after {
    content: "";
    background-image: url(./img/finger.png);
    position: absolute;
    width: 16px;
    height: 16px;
    top: 99%;
}
.category-buttons button:last-child {
    margin: 0;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 0 30px 32px 0;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.card:nth-child(3),
.card:nth-child(6),
.card:nth-child(9)  {
    margin-right: 0;
}
.card h2 {
    margin: 20px 0 4px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
}
.card p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
}
.card h2,
.card p {
    margin-left: 24px;
    font-family: Roboto;
}
.card .image-portfolio-container {
    position: relative;
    overflow: hidden;
}
.card .image-portfolio-container img {
    width: 100%;
    height: auto;
    display: block;
}
.card .image-portfolio-container:hover::after {
    content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
    position: absolute;
    background: rgba(33, 150, 243, 0.90);
    width: 322px;
    height: 100%;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 24px 35px;
    line-height: 28px;
    top: 0;
    text-align: center;
    display: flex;
    left: 0px;
    letter-spacing: 0.54px;
    align-items: center;
    opacity: 1;
}

/* @media screen and (max-width: 1200px) { 
    header,
    .links,
    .contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .links {
        margin: 10px 0;
    }
}
@media screen and (min-width: 991px) { 
    header,
    .links,
    .contacts {
        display: flex;
        flex-direction: column;
    }
    .links {
        margin: 10px 0;
    }
}
@media screen and (max-width: 767px) { 
    
    header,
    .links,
    .contacts {
        display: flex;
        flex-direction: column;
    }
    .links {
        margin: 10px 0;
    }
}
@media screen and (max-width: 575px) { 
    header,
    .links,
    .contacts {
        display: flex;
        flex-direction: column;
    }
    .links {
        margin: 10px 0;
    }
} */