<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/main.css">
    <title>Директива @mixin</title>
</head>
<body class="mixin">
    <div class="mixin_header">
        <h1>Директива @mixin</h1>
        <a href="../../index.html">
            <img src="../structure/img/home.gif" alt="home">
        </a>
    </div>

    <div class="extend_mixins">
        <h2>Директива @mixin</h2>
        <p class="extend_mixins-try">
            Міксіни або домішки, як і плейсхолдери, дозволяють створювати готові набори властивостей, але з різними 
            <br> значеннями, залежно від отриманих аргументів під час виклику міксіна.
        </p>
        <img src="../extend/img/mixin.jpg" alt="mixins rule">
        <p class="extend_mixins-size">
            Тобі можуть знадобитися однакові стилі для різних частин твого веб-сайту, і замість того, щоб <br> копіювати ті стилі кожен раз,
            ти можеш створити @mixin, як заготовку стилів.
        </p>
        <p class="extend_mixins-radius">
            Додати стилі міксіна до селектора можна за допомогою директиви @include, після якої викликаємо міксін і
            <br> передаємо значення для властивостей, що налаштовуються.
        </p>
    </div>
</body>
</html>