* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.logo {
  color: #fed136;
}
a {
  margin: 10px;
  color: #fed136;
  text-decoration: none;
}
